<style>
</style>


<div id="BooksView" class="container-fluid h-100">

    <p1 class="h5">Books View</p1></br>

    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand">Add New</a>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <br/>
    <div ui-grid="vm.GridOptions" class="myGrid h-100"></div>

</div>