<style>
    #StartView
    {
        height: 100vh;
        background-color:#bafdb4;
    }
</style>


<div id="StartView" class="container-fluid">

    <button class="btn btn-warning" ng-click="vm.ShowLogin()">Login</button>
    <button class="btn btn-warning" ng-click="vm.ShowRegister()">Register</button>

    <login ng-if="vm.IsLoginActive" class="d-flex p-2"></login>
    <register ng-if="!vm.IsLoginActive" class="d-flex p-2"></register>
</div>