<style>

</style>


<div id="BookEditView" class="container-fluid h-100">
  <p1>Edit Book {{vm.Title}} code: {{vm.Code}}</p1></br>
    
    <form>
        <fieldset>
          <legend>Book Info</legend>
          <div class="mb-3">
            <label for="TbCode" class="form-label">Code</label>
            <input type="text" id="TbCode" class="form-control" ng-model="vm.Code" placeholder="Type Library Code (must be unique):">
          </div>
          <div class="mb-3">
            <label for="TbTitle" class="form-label">Title</label>
            <input type="text" id="TbTitle" class="form-control" ng-model="vm.Title" placeholder="Type Title">
          </div>
          <div class="mb-3">
            <label for="TbAuthor" class="form-label">Author</label>
            <input type="text" id="TbAuthor" class="form-control" ng-model="vm.Author" placeholder="Type Author">
          </div>
          <div class="mb-3">
            <label for="TbYear" class="form-label">Year</label>
            <input type="number" id="TbYear" class="form-control" ng-model="vm.Year" placeholder="Type Year">
          </div>
        </fieldset>
        <button class="btn btn-primary" ng-click="vm.Update()">Update</button>
      </form>

</div>